<head> 
  <title>Michael | <%=@title %></title>
  <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<%= yield %>

<br><br><br><br><br>
<a href="/home">home</a>
<a href="/contact">contact</a>
<a href="/funny">funny</a>

<footer><br><br><br><br>(property of mg)</footer>

